.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: inherit;
  height: 60px;
  margin-left: -10px;
}

.title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 60px;
  color: var(--text-color-black);
  letter-spacing: 0.04em;

}