.container {
  display: flex;
  align-items: flex-start;
  padding: 4px 0px;
  gap: 8px;
  width: 100%;
  
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 6px;

  background: rgba(202, 202, 203, 0.6);
  border-radius: 8px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: #1E2022;
  max-width: 88%;
  height: 22px;

  gap: 4px;
}

.tag span {
  height: auto;
}