.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 58px - 120px);
  min-height: 650px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
}

.button {
  display: flex;

  align-items: center;
  padding: 18px 34.5px;
  gap: var(--gap-10);


  height: 60px;

  background: var(--button-background);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-button);
}

.button:hover {
  background: #F5DB54 !important;
}

.button:focus,
.button:active {
  background: #EBD14A !important;
  outline: none;
}