.wrapper {
  position: relative;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
  margin-left: 77px;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.inputCalendar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px 18px;
  gap: 18px;
  position: relative;
  width: 260px;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #FFFFFF;
  border-radius: 12px;

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #1E2022;
  transition: border-color 0.3s ease;
}

.calendarIcon {
  position: absolute;
  top: 18px;
  right: 18px;
}

.inputCalendar:hover {
  border-color: #E0E0E0;
}

.inputCalendar:hover + .calendarIcon path {
  fill: #747576;
  transition: fill 0.3s ease;
}

.inputCalendar:active,
.inputCalendar:focus {
  border-color: #CACACB;
  transition: border-color 0.3s ease;
}

.inputCalendar:active + .calendarIcon path,
.inputCalendar:focus + .calendarIcon path {
  fill: #494B4C;
  transition: fill 0.3s ease;
}

.inputCalendar:has(input:focus) .calendarIcon {
  outline: 2px solid red; /* Цвет и стиль outline при фокусе */
}