.header {
  padding: 40px 40px 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: var(--gap-10);

  width: 60px;
  height: 60px;

  background: var(--button-background);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-button);
}

.buttonLogo {
  background: #FDFCF3;
}