.header {
  padding: 40px 40px 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: var(--gap-10);

  width: 60px;
  height: 60px;

  box-shadow: var(--box-shadow);
  border-radius: var(--radius-button);
}

.buttonLogo {
  position: relative;
  background-color: #FDFCF3;
  z-index: 10;
}

.buttonLogo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--linear-gradient-logo);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 16px;
  z-index: -1;
}

.buttonLogo:hover::after,
.buttonLogo:focus-visible::after {
  opacity: 1;
}

.buttonLogo:focus-visible {
  outline: none;
}
