.modalInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;
  position: relative;
  height: 140px;
}

.line {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

.modalInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 50px 10px 18px;
  gap: 18px;

  width: 720px;
  height: 60px;

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #1e2022;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.modalInput::placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

  color: #747576;
}

.buttonClean {
  position: absolute;
  top: 50px;
  right: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background: transparent;

  width: 40px;
  height: 40px;
}

.buttonClean svg path {
  fill: #9FA0A1;
  transition: fill 0.3s ease;
}

.buttonClean:hover svg path {
  fill: #747576;
}

.buttonClean:focus-visible svg path,
.buttonClean:active svg path {
  fill: #494B4C;
}

.modalImgListWrapper {
  display: flex;
  justify-content: center;
  padding: 0px 40px 0px;
  gap: 10px;

  overflow-y: auto;
  overflow-x: hidden;
}

.modalHeight {
  height: 570px;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.feedbackWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #1E2022;
}
